In [23]:
#Convert Kilometer to Mileage
def travel(Km):
    Mile=float(Km*0.621)
    return ("The Mileage of travling the {} kilomter is {}".format(Km,Mile))

travel(2)

'The Mileage of travling the 2 kilomter is 1.242'

In [28]:
#Convert Celius to Fahrenheit
C=float(input("Enter a degree of cleius"))
F=(C*9.0)/5.0+32
print("The degree of Fahrenheit is %0.3f F",F)

Enter a degree of cleius0
The degree of Fahrenheit is %0.3f F 32.0

In [44]:
#Quartic Equation
def func(a,b,c):
 d=(b*b)-4*a*c
 e=d**0.5
 real_part=(-b+e)/(2*a)
 diff_part=(-b-e)/(2*a)
 return real_part,diff_part
func(1,5,4)

(-1.0, -4.0)

In [47]:
#Swaping two variables without using temp variable
a=int(input("Enter a value:"))
b=int(input("Enter b value:"))
a=a+b #5+3=8
b=a-b #8-5=3
a=a-b #8-3=5
print("The after swaping without using temp variable a is {} and b is {}".format(a,b))

Enter a value:3
Enter b value:5
The after swaping without using temp variable a is 5 and b is 3

In [14]:
#year of calendar
import calendar
print("{}".format(calendar.calendar(2022,1,1,5)))

                                 2022

      January                  February                  March
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                1  2         1  2  3  4  5  6         1  2  3  4  5  6
 3  4  5  6  7  8  9      7  8  9 10 11 12 13      7  8  9 10 11 12 13
10 11 12 13 14 15 16     14 15 16 17 18 19 20     14 15 16 17 18 19 20
17 18 19 20 21 22 23     21 22 23 24 25 26 27     21 22 23 24 25 26 27
24 25 26 27 28 29 30     28                       28 29 30 31
31

       April                     May                      June
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
             1  2  3                        1            1  2  3  4  5
 4  5  6  7  8  9 10      2  3  4  5  6  7  8      6  7  8  9 10 11 12
11 12 13 14 15 16 17      9 10 11 12 13 14 15     13 14 15 16 17 18 19
18 19 20 21 22 23 24     16 17 18 19 20 21 22     20 21 22 23 24 25 26
25 26 27 28 29 30        23 24 25 26 27 28 29     27 28 29 30
                         30 31

        July                    August                 September
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
             1  2  3      1  2  3  4  5  6  7               1  2  3  4
 4  5  6  7  8  9 10      8  9 10 11 12 13 14      5  6  7  8  9 10 11
11 12 13 14 15 16 17     15 16 17 18 19 20 21     12 13 14 15 16 17 18
18 19 20 21 22 23 24     22 23 24 25 26 27 28     19 20 21 22 23 24 25
25 26 27 28 29 30 31     29 30 31                 26 27 28 29 30

      October                  November                 December
Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su     Mo Tu We Th Fr Sa Su
                1  2         1  2  3  4  5  6               1  2  3  4
 3  4  5  6  7  8  9      7  8  9 10 11 12 13      5  6  7  8  9 10 11
10 11 12 13 14 15 16     14 15 16 17 18 19 20     12 13 14 15 16 17 18
17 18 19 20 21 22 23     21 22 23 24 25 26 27     19 20 21 22 23 24 25
24 25 26 27 28 29 30     28 29 30                 26 27 28 29 30 31
31